<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static',filename='about.css')}}" type="text/css">
</head>
<body>
    <form action="/start" method="post">
        <button type="submit">Back</button>
    </form>
    <div class="grid-container">
        <div class="grid-item">
            <h1>About</h1>
            <p>Proper pet care includes providing a safe, cozy shelter.
                Cars, aggressive dogs, and predators are an ongoing threat to cats, which is why they should be kept indoors for their own safety. Many cats enjoy having a covered bed or cocoon-like space inside where they can retreat to and feel safe.</p>
                <h1>Services</h1>
                <p>Dog training</p>
                <p>Grooming</p>
                <p>Pet boarding</p>
                <p>Pet sitting</p>
                <p>Daycare</p>
                <p>Dog walking</p>
                <p>Pet taxi</p>
                <h1>Contact</h1>
                <p>Ph no:9789436200/9962091021</p>

        </div>
        
        </div>
</body>
</html>
